* {
	margin: 0;
	padding: 0; 
	}
	
	body {
	background-color: paleturquoise;
	}
	
	h1 {
	border: 5px solid #0e2b3c;
	width: 80%;
	height: 40px;
	}
	
	h2 {
	border: 5px solid rebeccapurple;
	width: 90%;
	height: 15px;
	}
	
	h3 {
	border: 5px solid green;
	width: 90%;
	height: 15px;
	}
	
	header {
	background-color: transparent;
	width: 15%;
	position: fixed;
	}
	
	nav {
	border: 5px solid yellowgreen;
	height: 500px;
	width: 100%;
	}
	
	nav > ul > li {
	text-align: center;
	border: 5px solid olivedrab;
	height: 30px;
	padding-bottom: 15px;
	}
	
	nav > ul > li > a {
	text-decoration: none;
	border: 5px solid palevioletred;
	width: 80%;
	float: left;
	}
	
	section {
	width: 80%;
	float: right;
	margin-right: 1px;
	border: 5px solid orange;
	}
	
	section ul li {
	border: 5px solid red;
	width: 100%;
	}
	
	p {
	border: 5px solid seagreen;
	padding: 20px;
	line-height: 24px;
	}
	
	.zoom {
	transition: transform .2s;
	}
	
	.zoom:hover {
	transform: scale(1.1);
	}
	
	.container {
	width: 96%;
	height: 400px;
	background-color: rgb(140, 180, 250);
	border: 5px solid rgb(27, 108, 179);
	opacity: 0.9;
	float: right;
	margin-top: 120px;
	text-align: justify;
	border-radius: 10px;
	}
	
	.container:first-child {
	margin-top: 130px;
	}
	
	.container:last-child {
	margin-bottom: 120px;
	}
	
	.skills_list,
	.tools_list,
	.languages_list,
	.career_list,
	.exams_list,
	.diplomas_list,
	.formation_list,
	.actions_list,
	.hobbies_list {
	width: 90%;
	height: 90%;
	margin: 15px;
	}